{% extends "./layout.njk" %}
{% block content %}
  <main id="main" class="relative ">

    <div id="content" role="main" class="content-area">

      <div class="banner has-hover pt-[40%] relative w-full min-h-[30px]" id="banner-1234817651">
        <div class="banner-inner absolute top-0 h-full w-full">
          <div class="banner-bg absolute h-full w-full p-0 m-0 overflow-hidden">
            <div class="bg-no-repeat bg-cover absolute h-full w-full bg-loaded bg-[url('/images/home_cover.jpg')]"></div>
            <div class="video-overlay no-click absolute h-full w-full"></div>
            {# <iframe id="ytplayer-377" class="ux-youtube absolute h-full w-full object-fit hide-for-small" data-videoid="ZyCTCXaNVs4" data-loop="1" data-audio="0" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="[BK.AI] Giới thiệu HUST &amp; Trung tâm trí tuệ nhân tạo BK.AI" width="100%" height="100%" src="https://www.youtube.com/embed/ZyCTCXaNVs4?html5=1&amp;autoplay=1&amp;controls=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;fs=0&amp;loop=1&amp;el=0&amp;playlist=ZyCTCXaNVs4&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fbkai.ai&amp;widgetid=1" data-gtm-yt-inspected-4="true"></iframe> #}
            <div class="overlay"></div>
          </div>

        </div>
      </div>
      <section class="sm:pt-[50px] pb-[30px] px-0 relative w-full" id="section_1773861806">
        <div class="bg section-bg fill bg-fill bg-loaded bg-loaded"></div>

        <div class="section-content z-[1] relative">

          <div class="max-w-[1170px] w-full flex flex-col mx-auto" id="row-1976665543">

            <div id="col-2136378966" class="max-w-full basis-[100%] relative m-0 px-4 pb-[30px] w-full">
              <div class="md:ml-auto md:mr-0 h-full relative w-full">

                <div id="gap-275653729" class="h-auto block pt-[30px]"></div>

                <div id="text-1595190234" class="text-center text-black prose max-w-full px-4 pb-[30px]">

                  <h2 class="text-[1.625rem]">News &amp; Events</h2>

                </div>

              </div>
            </div>

            <div id="col-1127620818" class="max-w-full basis-full relative px-4 pb-[30px] w-full">
              <div class="col-inner md:ml-0 md:mr-auto h-full relative mx-auto w-full">
                <div class="px-0 -mx-4 w-auto max-w-[1170px] flex flex-wrap">
                  {% for i in range(0,10) -%}
                    <div class="sm:max-w-[50%] sm:basis-1/2 md:max-w-[25%] md:basis-1/4 relative px-4 pb-[30px] w-full">
                      <div class="h-full hover:shadow-[0_0_15px_#818181] hover:-translate-y-2.5 duration-300">
                        <a href="https://bkai.ai/seminar-adversarial-learning-foundations-and-applications/" class="plain">
                          <div class="bg-white my-0 mx-auto relative w-full">
                            <div class="box-image relative h-auto overflow-hidden">
                              <div class="image-cover">
                                <img width="400" height="267" src="/images/post-thumb.jpg" class="attachment-medium size-medium wp-post-image aspect-[4/3]" alt="">
                              </div>
                            </div>
                            <div class="box-text text-left p-4 w-full" style="background-color:rgb(255, 255, 255);padding:15px 15px 15px 15px;">
                              <div class="box-text-inner blog-post-inner prose">

                                <h4 class="post-title is-large h-[48px] overflow-hidden">[Seminar] Adversarial Learning: Foundations and Applications</h4>
                                <div class="is-divider"></div>
                                <p class="from_the_blog_excerpt mt-4 h-[48px] overflow-hidden mb-[.1em]">✅ Abstract: As machine learning (ML) models are reaching accuracy levels suitable for real-world applications,...					</p>

                              </div>
                            </div>
                            <div class="top-0 text-2xl m-0 left-0 absolute w-[4.2rem] h-[3.25rem]">
                              <div class="bg-[#1E73C4] text-white py-2">
                                <p class="post-date-day text-center font-bold text-2xl">27</p>
                                <p class="post-date-month text-center font-bold text-base">Mar</p>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  {%- endfor %}
                </div>
              </div>
            </div>

          </div>
        </div>

      </section>

      <section class="py-[50px] bg-[#1e73be] w-full solution-area" id="section_826925986">
        <div class="bg section-bg fill bg-fill bg-loaded bg-loaded">

          <div class="effect-snow bg-effect fill no-click"></div>

        </div>

        <div class="section-content relative">

          <div class="prose w-full max-w-full text-white">

            <h2 class="text-center text-[1.625rem] text-white">Our Solutions</h2>

          </div>

          <div class="flex max-w-[1170px] mx-auto mt-4">

            <div id="col-186941967" class="col pb-0 max-w-full basis-[100%] px-4 w-full relative">
              <div class="h-full relative w-full">

                <div class="-mx-[10px] mb-0 flex flex-wrap">
                  {% for i in range(0,10) -%}
                    <div class="pt-0 px-[10px] pb-[20px] sm:max-w-[50%] sm:basis-1/2 md:max-w-[25%] md:basis-[25%]">
                      <div class="col-inner h-full hover:shadow-[0_0_15px_#818181] hover:-translate-y-2.5 duration-300">
                        <a href="https://bkai.ai/solution/yourway-vn-an-online-system-for-labor-market-data-collection-and-analysis/" class="plain">
                          <div class="box box-default box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                              <div class="image-cover bg-white">
                                <img src="/images/solution-thumb.png" class="attachment-medium size-medium wp-post-image aspect-[4/3]" alt="thumb" loading = "lazy">
                              </div>
                            </div>
                            <div class="box-text text-left" style="background-color:rgb(255, 255, 255);padding:15px 15px 0 15px;">
                              <div class="box-text-inner blog-post-inner prose">

                                <h5 class="post-title is-large font-nunito font-bold">
                                Yourway.vn: An Online System for Labor Market Data Collection and Analysis</h5>

                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  {%- endfor%}
                </div>
              </div>
            </div>

          </div>
        </div>

      </section>

      <section class="pt-[50px]" id="section_2128732041">

        <div class="section-content relative">

          <div class="max-w-[1170px] mx-auto" id="row-1516241259">

            <div id="col-215301725" class="col small-12 large-12">
              <div class="col-inner dark">

                <div id="text-1595190234" class="text-center text-black prose max-w-full px-4 pb-[30px]">

                  <h2 class="text-[1.625rem]">AI Tech Blogs And Reviews</h2>

                </div>

              </div>
            </div>

            <div id="col-956800932" class="max-w-full w-full glide-blogs relative group">
              <div class="glide-track overflow-hidden" data-glide-el="track">

                <ul class="px-0 -mx-4 w-auto glide__slides">
                  {% for i in range(0,7) -%}
                    <li class="glide__slide px-4 pb-[30px] mt-6">
                      <div class="h-full hover:shadow-[0_0_15px_#818181] hover:-translate-y-2.5 duration-300">
                        <a href="https://bkai.ai/seminar-adversarial-learning-foundations-and-applications/" class="plain">
                          <div class="bg-white my-0 mx-auto relative w-full">
                            <div class="box-image relative h-auto overflow-hidden">
                              <div class="image-cover">
                                <img width="400" height="267" src="/images/post-thumb.jpg" class="attachment-medium size-medium wp-post-image aspect-[4/3]" alt="">
                              </div>
                            </div>
                            <div class="box-text text-left p-4 w-full" style="background-color:rgb(255, 255, 255);padding:15px 15px 15px 15px;">
                              <div class="box-text-inner blog-post-inner prose">

                                <h4 class="post-title is-large h-[48px] overflow-hidden">[Seminar] Adversarial Learning: Foundations and Applications</h4>
                                <div class="is-divider"></div>
                                <p class="from_the_blog_excerpt mt-4 h-[48px] overflow-hidden mb-[.1em]">✅ Abstract: As machine learning (ML) models are reaching accuracy levels suitable for real-world applications,...					</p>

                              </div>
                            </div>
                            <div class="top-0 text-2xl m-0 left-0 absolute w-[4.2rem] h-[3.25rem]">
                              <div class="bg-[#1E73C4] text-white py-2">
                                <p class="post-date-day text-center font-bold text-2xl">27</p>
                                <p class="post-date-month text-center font-bold text-base">Mar</p>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                  {%- endfor %}
                </ul>
              </div>
              <div class="glide__arrows" data-glide-el="controls">
              {# <button class="glide__arrow glide__arrow--left absolute right-auto -left-[1px] opacity-0 w-10 top-1/2 
              group-hover:opacity-[.7] hover:cursor-pointer" data-glide-dir="<">
                <?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px" viewBox="0 0 40 40" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:evenodd;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 20 0 C 31.039062 0 40 8.960938 40 20 C 40 31.039062 31.039062 40 20 40 C 8.960938 40 0 31.039062 0 20 C 0 8.960938 8.960938 0 20 0 Z M 20 1.667969 C 30.117188 1.667969 38.332031 9.882812 38.332031 20 C 38.332031 30.117188 30.117188 38.332031 20 38.332031 C 9.882812 38.332031 1.667969 30.117188 1.667969 20 C 1.667969 9.882812 9.882812 1.667969 20 1.667969 Z M 11.953125 20.832031 L 19.632812 27.105469 L 18.5 28.332031 L 8.332031 20 L 18.519531 11.667969 L 19.628906 12.921875 L 11.957031 19.167969 L 31.667969 19.167969 L 31.667969 20.832031 Z M 11.953125 20.832031 "/></g></svg>
              </button> #}
              <button class="glide__arrow glide__arrow--left absolute right-auto -left-4 w-12 h-12 top-[45%] 
              opacity-0 group-hover:opacity-100 hover:cursor-pointer bg-slate-200  rounded-[2rem]" data-glide-dir="<">
                <i class="text-2xl before:content-[url('/svg/left-arrow.svg')]"></i>
              </button>
              <button class="glide__arrow glide__arrow--left absolute left-auto -right-4 w-12 h-12 top-[45%]
              opacity-0 group-hover:opacity-100 hover:cursor-pointer bg-slate-200  rounded-[2rem]" data-glide-dir=">">
                <i class="text-2xl before:content-[url('/svg/right-arrow.svg')]"></i>
              </button>
              </div>
            </div>

          </div>
        </div>

      </section>

      <section class="pt-[50px]" id="section_2128732041">
        <div class="section-content relative">
          <div class="max-w-[1170px] mx-auto" id="row-1516241259">

            <div id="text-1595190234" class="text-center text-black prose max-w-full px-4 pb-[30px]">

              <h2 class="text-[1.625rem]">Recent Projects</h2>

            </div>

            <div id="col-956800932" class="max-w-full w-full glide-projects">
              <div class="glide-track overflow-hidden" data-glide-el="track">

                <ul class="px-0 -mx-4 w-auto glide__slides">
                  {% for i in range (1,10) -%}
                    <li class="glide__slide px-4 pb-[30px] mt-6">
                      <div class="h-full hover:shadow-[0_0_15px_#818181] hover:-translate-y-2.5 duration-300">
                        <a href="https://bkai.ai/seminar-adversarial-learning-foundations-and-applications/" class="plain">
                          <div class="bg-white my-0 mx-auto relative w-full">
                            <div class="box-image relative h-auto overflow-hidden">
                              <div class="image-cover">
                                <img width="400" height="267" src="/images/post-thumb.jpg" class="attachment-medium size-medium wp-post-image aspect-[4/3]" alt="">
                              </div>
                            </div>
                            <div class="box-text text-left p-4 w-full" style="background-color:rgb(255, 255, 255);padding:15px 15px 15px 15px;">
                              <div class="box-text-inner blog-post-inner prose">

                                <h4 class="post-title is-large h-[48px] overflow-hidden">[VINIF 2020] Human knowledge in machine learning</h4>
                                <div class="is-divider"></div>
                                <p class="from_the_blog_excerpt mt-4 h-[48px] overflow-hidden mb-[.1em]">✅ Abstract: As machine learning (ML) models are reaching accuracy levels suitable for real-world applications,...					</p>

                              </div>
                            </div>
                            <div class="top-0 text-2xl m-0 left-0 absolute w-[4.2rem] h-[3.25rem]">
                              <div class="bg-[#1E73C4] text-white py-2">
                                <p class="post-date-day text-center font-bold text-2xl">27</p>
                                <p class="post-date-month text-center font-bold text-base">Mar</p>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                  {%- endfor %}
                </ul>
              </div>
              {# <div class="glide__arrows" data-glide-el="controls">
                  <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
                </div> #}
            </div>
          </div>
        </div>
      </section>

    </div>

  </main>

  <script src="/@glidejs/glide/dist/glide.min.js"></script>

  <script>
    var glide = {{ message | dump | safe }}
    console.log(glide)
    new Glide('.glide-blogs', {
      //type:'carousel',
      perView: 4,
      bound: true
    }).mount()
    new Glide('.glide-projects', {
      //type:'carousel',
      perView: 4,
      bound: true
    }).mount()
  </script>
{% endblock %}