<!DOCTYPE html>
<html  lang="en">
  <head>
    <title>Hello</title> 
    <link rel="stylesheet" href="/styles/style.css"></link> 
    <link rel="stylesheet" href="/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="/styles/custom.css"></link> 
    <link rel="stylesheet" href="/webfonts/bx.css" rel='stylesheet'></link> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body{
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="h-[100px]">
    <header id="header" class="header has-sticky sticky-jump" style="">
      <div id="header-wrapper" class="bg-white animate-[customEase_0.6s_ease] duration-[0.3s] transition-[ease]">
        <div id="masthead" class="header-main h-full">
          <div class="max-w-[1170px] flex space-between mx-auto h-full px-4" role="navigation">

            <!-- Logo --> 
            <div id="logo" class="flex-col logo h-full">
              <!-- Header logo -->
              <a class="h-full" href="https://bkai.ai/" title="BKAI – The International Research Center for Artificial Intelligence - BKAI Center" rel="home">
                <img width="100" height="100" src="/images/header-logo.jpg" class="h-full max-h-full" alt="logo">
              </a>
            </div>

            <!-- Mobile Left Elements -->
            <div class="flex-col show-for-medium flex-left">
              <ul class="mobile-nav nav nav-left "></ul>
            </div>
   
            <!-- Left Elements -->
            <div class="flex-col hide-for-medium flex-left
            flex-grow">
              <ul class="header-nav header-nav-main nav nav-left  nav-size-large nav-spacing-xlarge"></ul>
            </div>

            <!-- Right Elements -->
            <div class="max-h-full ml-auto">
              <ul class="w-full relative flex items-center font-nunito h-full">
                <li id="menu-item-4390" class="m-[13px] first:ml-0 inline-block relative">
                  <a href="https://bkai.ai/" aria-current="page" class="leading-[1rem] text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] font-medium text-base py-[10px]">Home Page</a>
                </li>
                <li id="menu-item-4390" class="m-[13px] first:ml-0 inline-block relative">
                  <a href="https://bkai.ai/" aria-current="page" class="leading-[1rem] text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] font-medium text-base py-[10px]">Our team</a>
                </li>
                <li id="menu-item-4391" class="m-[13px] first:ml-0 inline-block relative group">
                  <a href="https://bkai.ai/researches/" class="text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)]  leading-[50px] font-medium">Research<i class="bx bx-chevron-down"></i>
                  </a>
                  <ul class="sub-menu nav-dropdown nav-dropdown-simple group-hover:z-50 group-hover:block hidden group-hover:-left-[15px] bg-white absolute min-w-[260px] py-[20px] m-0 text-[#777] text-left shadow-[1px_1px_15px_#818181]">
                    <li id="menu-item-4401" class="block m-0">
                      <a class="py-[10px] px-[20px] block text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] hover:bg-[rgba(0,0,0,.03)]" leading-[1.3] href="https://bkai.ai/researchs/projects/">Projects</a>
                    </li>
                    <li id="menu-item-4395" class="block m-0">
                      <a class="py-[10px] px-[20px] block text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] hover:bg-[rgba(0,0,0,.03)]" leading-[1.3] href="https://bkai.ai/publication-list/">Publication List</a>
                    </li>
                    <li id="menu-item-4402" class="block m-0">
                      <a class="py-[10px] px-[20px] block text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] hover:bg-[rgba(0,0,0,.03)]" leading-[1.3] href="https://bkai.ai/researchs/tools-and-resources/">Tools and Resources</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-4390" class="m-[13px] first:ml-0 inline-block relative">
                  <a href="https://bkai.ai/" aria-current="page" class="leading-[1rem] text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] font-medium text-base py-[10px]">Solutions</a>
                </li>
                <li id="menu-item-4390" class="m-[13px] first:ml-0 inline-block relative">
                  <a href="https://bkai.ai/" aria-current="page" class="leading-[1rem] text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] font-medium text-base py-[10px]">Training courses</a>
                </li>
                <li id="menu-item-4390" class="m-[13px] first:ml-0 inline-block relative">
                  <a href="https://bkai.ai/" aria-current="page" class="leading-[1rem] text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] font-medium text-base py-[10px]">Tech blogs</a>
                </li>
                <li id="menu-item-4391" class="m-[13px] first:ml-0 inline-block relative group">
                  <a href="https://bkai.ai/researches/" class="text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)]  leading-[50px] font-medium">News and Events<i class="bx bx-chevron-down"></i>
                  </a>
                  <ul class="sub-menu nav-dropdown nav-dropdown-simple group-hover:z-50 group-hover:block hidden group-hover:-left-[15px] bg-white absolute min-w-[260px] py-[20px] m-0 text-[#777] text-left shadow-[1px_1px_15px_#818181]">
                    <li id="menu-item-4401" class="block m-0">
                      <a class="py-[10px] px-[20px] block text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] hover:bg-[rgba(0,0,0,.03)]" leading-[1.3] href="/news">News</a>
                    </li>
                    <li id="menu-item-4395" class="block m-0">
                      <a class="py-[10px] px-[20px] block text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] hover:bg-[rgba(0,0,0,.03)]" leading-[1.3] href="https://bkai.ai/publication-list/">Seminars</a>
                    </li>
                    <li id="menu-item-4402" class="block m-0">
                      <a class="py-[10px] px-[20px] block text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] hover:bg-[rgba(0,0,0,.03)]" leading-[1.3] href="https://bkai.ai/researchs/tools-and-resources/">Events</a>
                    </li>
                    <li id="menu-item-4402" class="block m-0">
                      <a class="py-[10px] px-[20px] block text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] hover:bg-[rgba(0,0,0,.03)]" leading-[1.3] href="https://bkai.ai/researchs/tools-and-resources/">Blogs</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-4390" class="m-[13px] first:ml-0 inline-block relative">
                  <a href="https://bkai.ai/" aria-current="page" class="leading-[1rem] text-[rgba(102,102,102,.85)] hover:text-[rgba(17,17,17,.85)] font-medium text-base py-[10px]">Contact us</a>
                </li> 
              </ul>
            </div>

            <!-- Mobile Right Elements -->
            <div class="flex-col show-for-medium flex-right">
              <ul class="mobile-nav nav nav-right ">
                <li class="nav-icon has-icon">
                  <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay" data-color="" class="is-small" aria-label="Menu" aria-controls="main-menu" aria-expanded="false">

                    <i class="icon-menu"></i>
                  </a>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </header>
    </div>
    {% block content %}{% endblock %}
  </body>
  <script>
    var header = document.getElementById("header-wrapper")
    var headerOffsetTop = header.offsetTop
    window.onscroll = function(){
      detectScroll();
    }

    function detectScroll(){
      //if(window.pageYOffset > headerOffsetTop + 200){ 
      if(window.pageYOffset > headerOffsetTop + 100){
        header.classList.add('sticky')
      }
      else{
        header.classList.remove('sticky')
      } 
    }
  </script>
  
</html>