{% extends "./layout.njk" %}
{% block content %}
  <main id="main" class="relative pt-[70px]">

    <div id="content" role="main" class="content-area">

      <div class="banner has-hover pt-[40%] relative w-full min-h-[30px]" id="banner-1234817651">
        <div class="banner-inner absolute top-0 h-full w-full">
          <div class="banner-bg absolute h-full w-full p-0 m-0 overflow-hidden">
            <div class="bg-no-repeat bg-cover absolute h-full w-full bg-loaded bg-[url('/images/home_cover.jpg')]"></div>
            <div class="video-overlay no-click absolute h-full w-full"></div>
            {# <iframe id="ytplayer-377" class="ux-youtube absolute h-full w-full object-fit hide-for-small" data-videoid="ZyCTCXaNVs4" data-loop="1" data-audio="0" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="[BK.AI] Giới thiệu HUST &amp; Trung tâm trí tuệ nhân tạo BK.AI" width="100%" height="100%" src="https://www.youtube.com/embed/ZyCTCXaNVs4?html5=1&amp;autoplay=1&amp;controls=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;fs=0&amp;loop=1&amp;el=0&amp;playlist=ZyCTCXaNVs4&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fbkai.ai&amp;widgetid=1" data-gtm-yt-inspected-4="true"></iframe> #}
            <div class="overlay"></div>
          </div>
          <div class="banner-layers container">
            <div class="fill banner-link"></div>
            <div id="text-box-675026273" class="text-box banner-layer x50 md-x0 lg-x0 y5 md-y95 lg-y95 res-text">
              <div data-animate="fadeInLeft" data-animated="true">
                <div class="text-box-content text dark text-shadow-5"> 

                  <div class="text-inner text-left">

                    <h3>
                      <strong>BKAI</strong>
                    </h3>
                    <div>A Leading International Research Center for Artificial Intelligence with focus on fundamental research, technology transfer, and education</div>
                    <div id="gap-86028619" class="gap-element clearfix" style="display:block; height:auto;"></style>
                  </div>

                  <h4>
                    <strong>Our goals:</strong>
                  </h4>
                  
                  <div id="gap-500800835" class="gap-element clearfix show-for-small" style="display:block; height:auto;"></div>

                  <a rel="noopener noreferrer" href="https://www.youtube.com/watch?v=ZyCTCXaNVs4" target="_blank" class="button primary">
                    <span>Watch video</span>
                    <i class="icon-youtube"></i>
                  </a>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <section class="sm:py-[50px] pb-[30px] px-0 relative w-full" id="section_1773861806">
      <div class="bg section-bg fill bg-fill bg-loaded bg-loaded"></div>

      <div class="section-content z-[1] relative">

        <div class="max-w-[1170px] w-full flex flex-col mx-auto" id="row-1976665543">

          <div id="col-2136378966" class="max-w-full basis-[100%] relative m-0 px-4 pb-8 w-full">
            <div class="md:ml-auto md:mr-0 h-full relative w-full">

              <div id="gap-275653729" class="h-auto block pt-[30px]"></div>

              <div id="text-1595190234" class="text-center text-black prose max-w-full px-4">

                <h2 class="text-lg font-nunito">News &amp; Events</h2>

              </div>

            </div>
          </div>

          <div id="col-1127620818" class="max-w-full basis-full relative px-4 pb-[30px] w-full">
            <div class="col-inner md:ml-0 md:mr-auto h-full relative mx-auto w-full">
              <div class="px-0 -mx-4 w-auto max-w-[1170px] flex flex-wrap">
              {% for i in range(0,10) -%}
                <div class="sm:max-w-[50%] sm:basis-1/2 md:max-w-[25%] md:basis-1/4 relative max-w-[50%] basis-1/2 px-4 pb-[30px] w-full">
                  <div class="h-full hover:shadow-[0_0_15px_#818181] hover:-translate-y-2.5 duration-300">
                    <a href="https://bkai.ai/seminar-adversarial-learning-foundations-and-applications/" class="plain">
                      <div class="bg-white my-0 mx-auto relative w-full">
                        <div class="box-image relative h-auto overflow-hidden">
                          <div class="image-cover">
                            <img width="400" height="267" src="/images/post-thumb.jpg" class="attachment-medium size-medium wp-post-image aspect-[4/3]" alt="">
                          </div>
                        </div>
                        <div class="box-text text-left p-4 w-full" style="background-color:rgb(255, 255, 255);padding:15px 15px 15px 15px;">
                          <div class="box-text-inner blog-post-inner prose">

                            <h4 class="post-title is-large h-[60px] overflow-hidden text-sm font-nunito">[Seminar] Adversarial Learning: Foundations and Applications</h4>
                            <div class="is-divider"></div>
                            <p class="from_the_blog_excerpt mt-4 h-[40px] overflow-hidden mb-[.1em] text-sm font-nunito">✅ Abstract: As machine learning (ML) models are reaching accuracy levels suitable for real-world applications,...					</p>

                          </div>
                        </div>
                        <div class="top-0 text-2xl m-0 left-0 absolute w-[4rem] h-[3rem]">
                          <div class="bg-[#1E73C4] text-white py-2">
                            <p class="post-date-day text-center font-bold text-xl">27</p>
                            <p class="post-date-month text-center font-bold text-sm">Mar</p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              {%- endfor %}
              </div>
            </div>
          </div>

        </div>
      </div>

    </section>

    <section class="py-[50px] bg-[#1e73be] w-full solution-area" id="section_826925986">
      <div class="bg section-bg fill bg-fill bg-loaded bg-loaded">

        <div class="effect-snow bg-effect fill no-click"></div>

      </div>

      <div class="section-content relative">

        <div class="prose w-full max-w-full text-white">

          <h2 class="text-center text-[1.625rem] text-white">Our Solutions</h2>

        </div>

        <div class="flex max-w-[1170px] mx-auto mt-4">

          <div id="col-186941967" class="col pb-0 max-w-full basis-[100%] px-4 w-full relative">
            <div class="h-full relative w-full">

              <div class="-mx-[10px] mb-0 flex flex-wrap">
                {% for i in range(0,10) -%}
                <div class="pt-0 px-[10px] pb-[20px] sm:max-w-[50%] sm:basis-1/2 md:max-w-[25%] md:basis-[25%]">
                  <div class="col-inner h-full hover:shadow-[0_0_15px_#818181] hover:-translate-y-2.5 duration-300">
                    <a href="https://bkai.ai/solution/yourway-vn-an-online-system-for-labor-market-data-collection-and-analysis/" class="plain">
                      <div class="box box-default box-text-bottom box-blog-post has-hover">
                        <div class="box-image">
                          <div class="image-cover bg-white">
                            <img src="/images/solution-thumb.png" class="attachment-medium size-medium wp-post-image aspect-[4/3]" alt="thumb" loading = "lazy">
                          </div>
                        </div>
                        <div class="box-text text-left" style="background-color:rgb(255, 255, 255);padding:15px 15px 0 15px;">
                          <div class="box-text-inner blog-post-inner prose">

                            <h5 class="post-title is-large font-nunito font-bold">
                                Yourway.vn: An Online System for Labor Market Data Collection and Analysis</h5>

                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                {%- endfor%}
              </div>
            </div>
          </div>

        </div>
      </div>

    </section>


</div>

</main>

{% endblock %}